.pokemon-card {
	border-radius: 5px;
	border: solid 1px;
	max-width: '150px';
    max-height: '175px';

	&:hover {
		box-shadow: 0.5rem;
	}

	&__title {
		display: block;
		font-size: 1rem;
		text-align: center;
		color: #fff;
		font-family: 'Poppins', sans-serif;
		font-weight: 400;
		text-transform: capitalize;
	}

	&__id {
		display: block;
		text-align: right;
		padding: 3px 3px;
		font-family: 'Poppins', sans-serif;
		font-weight: 400;
	}
}