.pokemon-details {
  max-width: 350px;
  margin: auto;
	font-family: 'Poppins', sans-serif !important;

    &__header {
        display: flex;
		justify-content: space-between;
    }

  &__imagePokemon {
    justify-content: center;
    img {
      width: 230px;
    }
  }

	&__iconBackground {
		width: 140px;
		height: 140px;
		opacity: 0.1;
		color: #FFFFFF;
	}

		&__image {
			display: flex;
			justify-content: center;
			img {
				width: 15rem;
			}

		}

		&__badge {
			display: flex;
			justify-content: center;
      text-transform: capitalize;
      font-family: 'Poppins', sans-serif !important;

			&__item {
				margin:5px ;
			}

		}

		&__about {
			&__title {
				display: block;
				text-align: center;
			}

			&__atributes {
				display: flex;
				justify-content: center;

				&__item {
					margin: 10px;
					&__stat {
						align-items: center;
					}
				}

			}
		}

		&__stats {
			padding: 20px;
			&__title {
				text-align: center;
				margin: auto;
				display: block;
			}

			&__item {
				margin: 10px 0;

				&__description {
					text-transform: uppercase;
					margin-bottom: 5px;
					span {
						font-family: 'Poppins', sans-serif;
					}
				}
			}
		}

}